header {
    background-color: #a8d8ff;
}

a {
    text-decoration: none;
    padding-left: 10px;
}

#main_title {
    color: #096dab;
    padding: 15px;
    font-style: italic;
    text-shadow: -2px 2px 2px #333333;
}