.Project {
    background-color: #f0cdb1;
    box-shadow: -4px 4px 4px #666666;
}
.Note {
    background-color: #f7e8dc;
}
.Question {
    background-color: #fc6f6f;
}
.Vacancy {
    background-color: #84c3be;
}