{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/types.css">
<div class="container-fluid">
  <h3>Личный кабинет</h3>
</div>
{% if current_user.id == iden %}
    <div>
        <button class="btn btn-info"><a href="/add_blog">Добавить новую запись</a></button>
    </div>
{% endif %}
<br /><br />
{% for b in blogs %}
<div class="{{ b.type }}">
    {% if b.type == "Note" %}
        &nbsp;&nbsp;&nbsp;<img src="../static/images/note.png" />
    {% endif %}
    {% if b.type == "Question" %}
        &nbsp;&nbsp;&nbsp;<img src="../static/images/question.png" />
    {% endif %}
    {% if b.type == "Project" %}
        &nbsp;&nbsp;&nbsp;<img src="../static/images/project.jpg" />
    {% endif %}
    {% if b.type == "Vacancy" %}
        &nbsp;&nbsp;&nbsp;<img src="../static/images/vacancy.png" />
    {% endif %}
    <h2>{{b.title}}</h2><br /><br />
    <div>
        {{b.content}}
    </div>
    {% if b.img_name %}
        <img src="../users_images/{{ current_user.id }}/{{ b.img_name }}" alt="image"/>
        <img src="C:\Users\uraka\PycharmProjects\web_project\users_images\1\2.jpg" alt="image"/>
    {% endif %}
    <br /><br />
    <div id="inf">
        {{b.user.name}}<br />
        <em>{{b.created_date}}</em>
    </div>
    <br />
    {% if current_user.is_authenticated %}
        {% if b.user_id == iden %}
            <button class="btn btn-info"><a href="/correct/{{ b.id }}">Редактировать</a></button>
            <button class="btn btn-warning"><a href="/blogs_delete/{{ b.id }}">Удалить</a></button>
            <button>{{ b.likes }}<img src="../static/images/likes.jpg"/></button>
        {% else %}
            <button action="/plus_like/{{ b.id }}">
            <a href="/plus_like/{{ b.id }}">{{ b.likes }}</a><img src="../static/images/likes.jpg"/></button>
        {% endif %}
    {% else %}
        <button>{{ b.likes }}<img src="../static/images/likes.jpg"/></button>
    {% endif %}
    <br /><br />
</div>
<br/>
{% endfor %}
<br/>
{% endblock %}